.landing-head {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    &__breadcrumbs {
        font-size: var(--nav-font);
        @media screen and (max-width: 576px) {
            font-size: var(--mini-font);
        }
        ol {
            display: flex;
            margin: 0;
        }
    }
    &__breadcrumb {
        position: relative;
        padding-right: 15px;
        a {
            color: var(--gray);
            text-decoration: none;
            @media screen and (max-width:576px){
                white-space: nowrap;
            }
        }
        &:after {
            position: absolute;
            content: ">";
            color: var(--gray);
            margin-left: 4px;
        }
        &:last-child::after {
            content: none;
        }
    }
}

.landing-top {
    position: relative;
    display: flex;
    flex-direction: column;
    &__h {
        display: block;
        padding-bottom: var(--padding-bottom);
        font-size: var(--max-font);
        font-weight: var(--max-weight);
        @media screen and (max-width: 576px) {
            font-size: var(--middle-font);
        }
    }
    &__content {
        display: flex;
        max-height: 350px;
        width: 100%;
        height: 100%;
        position: relative;
        @media screen and(max-width:576px){
            flex-direction: column-reverse;
            max-height: 520px;
        }
    }
    &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    &__info {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 50%;
        max-width: 270px;
        margin-left: 45px;
        @media  screen and (max-width:576px) {
            margin: auto;
            text-align: center;
            padding-bottom: var(--landing-left);
            width: 100%;
        }
    }
    &__title {
        display: block;
        font-size: var(--max-font);
        font-weight: var(--max-weight);
        margin-bottom: 15px;
    }
    &__description {
        display: block;
        font-size: var(--menu-font);
        color: var(--gray-dark);
    }
    &__img {
        width: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @media screen and (max-width:576px){
            margin: auto;
            margin-top: var(--main-padding);
            height: 100%;
            width: auto;
        }
    }
}

.landing-work {
    padding-top: var(--padding-top);
    &__h {
        display: block;
        padding-bottom: var(--padding-bottom);
        font-size: var(--middle-font);
        font-weight: var(--middle-weight);
        @media screen and (max-width: 576px) {
            font-size: var(--middle-font);
            text-align: center;
        }
    }
    &__content {
        display: flex;
        padding-top: 10px;
        padding-bottom: var(--padding-top);
        justify-content: space-between;
        @media screen and (max-width:576px) {
            flex-direction: column;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding-right: var(--main-padding);
        @media screen and (max-width:576px) {
            align-items: center;
    text-align: center;
    margin-bottom: var(--landing-top);
    padding-right: 0;
        }
    }
    &__icon {
        width: 50px;
        background: var(--violet);
        height: 50px;
        border-radius: var(--border);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--main-padding);
        img {
            object-fit: contain;
        }
    }
    &__title {
        display: block;
        font-size: var(--menu-font);
        font-weight: var(--max-weight);
        max-width: 155px;
        margin-bottom: 12px;
    }
    &__description {
        display: block;
        font-size: var(--menu-font);
        color: var(--gray-dark);
    }
    &__quality {
        padding-top: var(--padding-bottom);
        padding-bottom: var(--padding-bottom);
        font-size: var(--middle-font);
        font-weight: var(--middle-weight);
        display: block;
        text-align: center;
    }
    &__hr {
        border-top: 3px solid var(--violet-hr);
    }
}
.landing-buy {
    max-height: 550px;
@media screen and (max-width:576px){
    max-height: 1016px;
}
    &__container {
        background: var(--violet-gradient);
        display: flex;
        flex-direction: column;
        padding: var(--padding-bottom);
    }
    &__top {
        display: flex;
        @media screen and (max-width:576px){
            flex-direction: column-reverse;
        }
    }
    &__info {
        width: 55%;
        margin: auto;
        max-width: 360px;
        margin-left: 10px;
        @media screen and (max-width:576px){
            margin: auto;
            text-align: center;
            width: 100%;
        }
    }
    &__subtitle {
        display: block;
        font-size: var(--menu-font);
        font-weight: var(--max-weight);
        margin-bottom: 5px;
    }
    &__title {
        display: block;
        font-size: var(--max-font);
        font-weight: var(--max-weight);
        margin-bottom: 15px;
        max-width: 315px;
        line-height: 35px;
        @media screen and (max-width:576px){
            max-width: unset;
        }
    }
    &__description {
        display: block;
        color: var(--gray-dark);
        font-size: var(--menu-font);
    }
    &__img {
        width: 45%;
        margin: auto;
        img {
            width: 100%;
            background: var(--violet-radial);
        }
        @media screen and (max-width:576px){
            width: 100%;
        }
    }
    &__bottom {
        background: var(--white-gradient);
        border-radius: var(--more-border);
        box-shadow: var(--buy-shadow);
        padding: var(--padding-bottom);
        // @media screen and (max-width:780px){
        //     margin-top: var(--main-padding);
        // }
        @media screen and (max-width:576px){
            margin-top: var(--padding-bottom)
        }

    }
    &__into {
        display: block;
        text-align: center;
        color: var(--gray-light);
        font-size: var(--middle-font);
        margin-bottom: var(--padding-bottom);
        font-weight: var(--max-weight);
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:576px){
            flex-direction: column;
        }
    }
    &__button{
        @media screen and (max-width:576px){
            margin-bottom: 16px;
        }
    }
    &__btn {
        background: var(--btn-color);
        padding-right: var(--landing-top);
        padding-left: var(--landing-top);
        font-size: var(--menu-font);
        margin: 0px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    //     @media screen and (max-width:870px){
    //         padding-right: var(--main-padding);
    // padding-left: var(--main-padding);
    //     }
    //     @media screen and (max-width:700px){
    //         padding-right: 5px;
    // padding-left: 5px;
    //     }
    }
}

.landing-trust {
    padding-top: var(--padding-top);
    &__h {
        display: block;
        padding-bottom: var(--padding-bottom);
        font-size: var(--middle-font);
        font-weight: var(--middle-weight);
        @media screen and (max-width: 576px) {
            font-size: var(--middle-font);
            text-align: center;
        }
    }
    &__content {
        display: flex;
        padding-top: 10px;
        padding-bottom: var(--padding-top);
        justify-content: space-between;
        @media screen and (max-width:576px){
            flex-direction: column;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding-right: var(--main-padding);
        width: 100%;
        @media screen and (max-width:576px){
            align-items: center;
            margin-bottom: var(--landing-top);
            padding-right: 0;
        }
    }
    &__icon {
        width: 100%;
        border-radius: var(--border);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: var(--main-padding);
        border: 3px solid var(--violet-hr);
        overflow: hidden;
        position: relative;
        @media screen and (max-width:576px){
            max-width: 226px;
        }
    }
    &__back {
        object-fit: cover;
        width: 100%;
        height: 104%;
    }
    &__arrow {
        position: absolute;
        width: 50%;
        height: 50%;
        right: 0%;
        top: 13%;
        object-fit: contain;
    }
    &__item:nth-child(1) {
        .landing-trust__arrow {
            right: 27%;
            top: -2.5%;
        }
    }
    &__item:nth-child(3) {
        .landing-trust__arrow {
            right: 15%;
            top: 25%;
        }
    }
    &__title {
        display: block;
        font-size: var(--menu-font);
        font-weight: var(--max-weight);
        max-width: 155px;
        margin-bottom: 12px;
    }
    &__description {
        display: block;
        font-size: var(--menu-font);
        color: var(--gray-dark);
        @media screen and (max-width:576px){
            text-align: center;
        }
    }
    &__quality {
        padding-top: var(--padding-bottom);
        padding-bottom: var(--padding-bottom);
        font-size: var(--middle-font);
        font-weight: var(--middle-weight);
        display: block;
        text-align: center;
    }
    &__hr {
        border-top: 3px solid var(--violet-hr);
    }
}
.landing-lk {
    &__container {
        background: var(--violet-background);
        padding: var(--landing-top) var(--landing-left);
        display: flex;
        @media screen and (max-width:576px){
            flex-direction: column;
        }
    }
    &__info {
        width: 50%;
        margin: auto;
        padding-right: 10px;
        @media screen and (max-width:576px){
            padding-right: 0;
            margin-bottom: var(--padding-bottom);
            width: 100%;
        }
    }
    &__title {
        display: block;
        font-size: var(--middle-font);
        font-weight: var(--max-weight);
        max-width: 354px;
        @media screen and (max-width:576px){
            max-width: unset;
            text-align: center;
        }
    }
    &__action {
        width: 50%;
        text-align: center;
        margin: auto;
        @media screen and (max-width:576px){
            width: 100%;
        }
    }
    &__btn {
        padding-right: var(--landing-top);
        padding-left: var(--landing-top);
        font-size: var(--menu-font);
        font-weight: var(--max-weight);
        background: var(--btn-black);
        @media screen and (max-width:576px){
            padding-right: var(--main-padding);
    padding-left: var(--main-padding);
        }
    //     @media screen and (max-width:670px){
    //         padding-right: var(--main-padding);
    // padding-left: var(--main-padding);
    //     }
    }
}
.landing-condition {
    margin-top: var(--landing-left);
    &__container {
        background: var(--violet-background2);
        padding: var(--landing-top);
    }
    &__h {
        display: block;
        padding-bottom: var(--padding-bottom);
        font-size: var(--middle-font);
        font-weight: var(--middle-weight);
    }
    &__list {
        font-size: var(--menu-font);
        color: var(--gray-dark);
        list-style-type: auto;
        padding-left: 15px;
    }
    &__item {
        padding-bottom: 30px;
        &:last-child {
            padding-bottom: 0;
        }
    }
}
.landing-answer {
    margin-top: var(--padding-top);
    margin-bottom: var(--padding-top);
    &__h {
        display: block;
        padding-bottom: var(--padding-bottom);
        font-size: var(--middle-font);
        font-weight: var(--middle-weight);
        @media screen and (max-width: 576px) {
            font-size: var(--middle-font);
            text-align: center;
        }
    }
   
    .item {
        margin-top: 14px;
    }

    .line:after {
        content: '';
        height: 1px;
        display: block;
        background-color: var(--hr);
    }

    .selector {
        font-weight: var(--max-weight);
        margin-bottom: 6px;
        font-size: var(--menu-font);
    }

    .answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
        margin-bottom: 8px;
        width: 92.3%;
        font-size: var(--menu-font);
    }
    .answer a{
        color:var(--black);
        text-decoration: underline;
    }
    .open-answer {
        padding-top: 16px;
    }
    .active {
        height: auto;
        max-height: 300px !important;
        overflow: hidden;
        transition: max-height 1s;
    }
    .arrow {
        height: 1px;
        border-radius: 2px;
        border: solid var(--black);
        border-width: 0 3px 3px 0;
        display: inline-block;
        margin-right: 5px;
        margin-top: 8px;
        padding: 4px;
        transition: transform 0.5s;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .selector {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
    }
    
}
.landing-question {
    &__container {
        background: var(--violet-background3);
        padding: var(--landing-top) var(--landing-left);
        display: flex;
        @media screen and (max-width: 576px) {
            flex-direction: column;
        }
    }
    &__info {
        width: 50%;
        margin: auto;
        padding-right: 10px;
        @media screen and (max-width: 576px) {
            padding-right: 0;
            margin-bottom: var(--main-padding);
            width: 100%;
            text-align: center;
        }
    }
    &__title {
        display: block;
        font-size: var(--middle-font);
        font-weight: var(--max-weight);
        max-width: 354px;
        margin-bottom: 10px;
        @media screen and (max-width: 576px) {
            max-width: unset;
        }
    }
    &__description {
        display: block;
        font-size: var(--menu-font);
        color: var(--gray-dark);
    }
    &__action {
        width: 50%;
        text-align: center;
        margin: auto;
        @media screen and (max-width:576px){
        width: 100%;
        }
    }
    &__btn {
        padding-right: var(--landing-top);
        padding-left: var(--landing-top);
        font-size: var(--menu-font);
        font-weight: var(--max-weight);
        background: var(--violet-hr);
        min-width: 205px;
    }
}
.landing-docs {
    padding-top: var(--main-padding);
    padding-bottom: var(--padding-top);
    &__text {
        color: var(--gray-dark);
        font-size: var(--menu-font);
        a {
            text-decoration: underline;
            color: var(--gray-dark);
        }
        @media screen and (max-width: 576px) {
            display: block;
            text-align: center;
        }
    }

}
